# Ignore node_modules
node_modules/

# Ignore package-lock.json
package-lock.json

# Ignore npm debug log
npm-debug.log*

# Ignore .DS_Store files
.DS_Store

# Ignore any local .env files
.env

# Ignore Visual Studio Code settings
.vscode/

# Ignore the node_modules that might be in the root of your project
**/node_modules/

# Ignore the npm-debug.log files
npm-debug.log*

# Ignore .idea folder
.idea/

# Ignore any logs
logs
*.log

# Ignore any output from tests
test-output/
